# — Virtual Environments —
venv/

# — Python bytecode & caches —
__pycache__/
*.py[cod]
*$py.class

# — Jupyter Notebook checkpoints —
.ipynb_checkpoints/

# — VS Code workspace settings —
.vscode/

#Powerpoint files 
*.pptx

# Dataset resources 

data/

# large pytorch files
*.pth 
*.pt